<div class="topic well" ng-app="Message">
	<div ng-controller="MessageCtrl">
		<%= hidden_field_tag "message_id", @message._id %>
		<p class="lead">Topic: <%= @message.title %></p>
		<p class="content">Content: <%= @message.content %></p>

		<hr />
		<p class="lead">Comments: </p>

		<ul type="none">
		  <% @message.comments.each do |comment| %>
			  <li class="lead well"><a href="#">
			  	<%= comment.author_name %>
			  </a> said: <%= comment.content %></li>
		  <% end %>
		  
		  <div id="comment-pool">
		  </div>
		</ul>

		<%= render partial: 'comments/form', 
			locals: { 
				author_id: current_member._id, 
				author_name: current_member.username
			}
			%>	
	</div>
</div>